.container {
    background-color: var(--gray-500);
    height: 72px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px;
    color: var(--gray-100);
    margin-bottom: 12px;
    margin-top: 8px;
}

.container input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    background-image: url("../../assets/icons/checkbox-default.svg");
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.container input[type="checkbox"]:checked {
    background-image: url("../../assets/icons/check.svg");
}

.container .trashIcon {
    align-self: baseline;
    cursor: pointer;
    position: absolute;
    right: 20px;
}

.container .trashIcon:hover {
    opacity: 0.7;
}

.textTask {
    text-decoration: line-through ;
    color: var(--gray-300);
}